services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_USER: cochayuyo
      MYSQL_PASSWORD: contrasena
      MYSQL_DATABASE: StationServiceBD
      MYSQL_ROOT_PASSWORD: rootpassword  
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: